:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --primary-green: #28A745;
  --green-hover: #218838;
  --green-light: #DFF5E1;
  --border-color: #E0E0E0;
  --disabled-color: #6C757D;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

button {
  background-color: var(--primary-green);
  color: var(--bg-color);
  border: none;
  box-shadow: 0 2px 5px var(--shadow-color);
}

button:hover {
  background-color: var(--green-hover);
}

.disabled {
  color: var(--disabled-color);
}


/* styles.css */

@font-face {
  font-family: 'air';
  src: url('/public/assets/fonts/air.woff2') format('woff2');
}

